@charset "UTF-8";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [대중소기업상생협력기금종합관리시스템] 테스트 스타일
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2024.$$.$$.$$:$$
    @ 메모 : 실제 페이지에는 필요없으나, 테스트시 도움을 주는 스타일들이다.
*/

.deco-h1 {
	font-size: 45px;
	font-weight: 600;
	color: hotpink;
	margin-bottom: 20px;
}
.deco-h2 {
	font-size: 28px;
	font-weight: 600;
	color: hotpink;
	margin-bottom: 5px;
}
.deco-h3 {
	font-size: 17px;
	font-weight: 600; 
	color: hotpink;
	margin-bottom: 1px;
}

.deco-noti {
	padding: 15px;
	background: pink;
	border: 1px solid hotpink;
}