@charset "UTF-8";

.md {
    display: none;
    z-index: 110;
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-height: 200px; */
    /* max-height: 97vh; */
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
}
.md.md-big {width: 1000px;}
.md.md-md {width: 800px;}
.md.md-sm {width: 600px;}

.md>.inner {
    padding: 35px 25px 25px 25px;
}
.md .md-header {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* border-bottom: 2px solid #333; */
    /* padding-bottom: 20px; */
}
.md .md-header .btn-close {
    width: 20px;
    height: 20px;
    background: url(../../img/icon/ic_x_20.svg) no-repeat 0 0;
    /* background: red; */
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    position: relative;
    top: 6px;
}
.md .md-con {
    margin-bottom: 20px;
    overflow-y: auto;
    /* max-height: calc(100vh - 200px); */
    max-height: 625px;
}
.md .md-bottom .bt {
    width: 110px;
}   

.md.active {display: block;}
.md+.md-dim {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}
.md+.md-dim.active {display: block;}
