@charset "UTF-8";

.al {
    display: none;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 6px;
    min-width: 360px;
}
.al>.inner {
    overflow: hidden;
}
.al .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url(../../img/icon/ic_x_20.svg) no-repeat 0 0;
    /* background: red; */
    border: 0;
    text-indent: -9999px;   
    cursor: pointer; 
}
.al .al-con {
    text-align: center;
    height: 115px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.al .al-bottom {
    margin-bottom: 25px;
}
.al .al-bottom .bt {
    width: 110px;
}



.al.active {display: block;}
.al+.al-dim {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}
.al+.al-dim.active {display: block;}




/*Alret setting*/
.size-alert .ReactModal__Content{
	max-width: 360px;
}
.size-alert .ReactModal__Content .modal-popup-header {
	position: relative;
	margin-bottom:0;
}
.size-alert .ReactModal__Content .modal-popup-header .title {
	font-size:0;
}
.size-alert .ReactModal__Content .btn-close{
	position: absolute;
	/* top:0; */
	/* right:0; */
	top:-15px;
	right:-10px;    
}
.size-alert .ReactModal__Content .modal-con{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 115px;
	font-size:15px;
	font-weight:500;
}
.size-alert .ReactModal__Content .modal-bottom {
	margin-top:0;
}
.size-alert .ReactModal__Content .modal-bottom .bt,
.size-alert .ReactModal__Content .modal-bottom .buttons {
	min-width:110px;
}

/*Type.04 With 이미지*/
.size-alert04 .ReactModal__Content{
	max-width: 600px;
}
.size-alert04 .ReactModal__Content .modal-popup-header .title {
    font-size: 0;
}
.size-alert04 .ReactModal__Content .visual {
    display: block;
    margin: 0 auto 20px auto;
}
.size-alert04  .modal-bottom {
    margin-top: 30px;
}