@charset "UTF-8";

/* Buttons, Button group */
.bt-group {
	font-size: 0;
}
.bt {
  white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	border: 0;
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	font-size: 15px;
	vertical-align: top;
	border-radius: 0;
	text-decoration: none;
  border-radius: 3px;
  text-align: center;
  border: 1px solid red;
}
.bt:disabled {
    cursor: not-allowed;
}
.bt-pri { /*primary*/
  background: var(--p1);
  border-color: var(--p1);
  color: #fff;
  font-weight: 700;
}
.bt-pri:hover {
  background: #1D6ADD;
}
.bt-pri:disabled {
  background: var(--p1);
  color: rgba(255, 255, 255, 0.5);
}
.bt-pri:disabled:hover {
  background: var(--p1);
  color: rgba(255, 255, 255, 0.5);
}

.bt-pri-o { /*primary-outline*/
  color: var(--p2);
  border-color: var(--p1);
  background: #fff;
  font-weight: 500;
}
.bt-pri-o:hover {
  background: #F2F7FF;
}
.bt-pri-o:disabled {
  opacity: 0.5;
}
.bt-pri-o:disabled:hover {
  background: #fff;
}

.bt-pri-o2 { /*primary-outline2*/
  color: var(--p2);
  border-color: #5C9EFF;
  background: #EDF4FF;
  font-weight: 500;
}
.bt-pri-o2:hover {
  background: #DFECFF;
}
.bt-pri-o2:disabled {
  opacity: 0.5;
  background: #fff;
}
.bt-pri-o2:disabled:hover {
  opacity: 0.5;
  background: #fff;
}

.bt-gray { /*gray*/
  background: #8491AF;
  border-color: #8491AF;
  color: #fff;
  font-weight: 700;
}
.bt-gray:hover { 
  background: #707E9F;
}
.bt-gray:disabled,
.bt-gray:disabled:hover {
  background: #8491AF;
}

.bt-gray-o { /*gray-outline*/
  background: #fff;
  border-color: #ccc;
  color: #333;
  font-weight: 400;
}
.bt-gray-o:hover { 
  background: #F8F8F8;
}
.bt-gray-o:disabled,
.bt-gray-o:disabled:hover {
  opacity: 0.5;
}

.bt-big {
    min-width: 140px;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    /* font-weight: 700; */
}

.bt-md {
    min-width: 65px;
    width: auto;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}
.bt-md.with-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.bt-md.with-ic>.ic {
  display: block;
  width: 20px;
  height: 20px;
  background: red;
}

.bt-sm {
    min-width: 48px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}
.bt-sm.with-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.bt-sm.with-ic>.ic {
  display: block;
  width: 20px;
  height: 20px;
  background: red;
}

.bt-prev-28,
.bt-next-28 {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border: 0;
    text-indent: -9999px;
}

/*20240415/mglee*/
.bt-up,
.bt-down {
	position: relative;
	text-indent: -9999px;
	min-width: 0;
	width :30px;
	height: 30px;
}
.bt-up:after,
.bt-down:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background:  no-repeat 0 0;
	background-size: contain;
}

.bt-up:after {
	background-image: url(../../img/icon/ic_up_14.svg);
}
.bt-down:after {
background-image: url(../../img/icon/ic_down_14.svg);
}

/*Buttons*/
.buttons {
	appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border:1px solid transparent;
	white-space: nowrap;
	border-radius: 3px;
}
.buttons:disabled{
	cursor: not-allowed;
	opacity: 0.5;
}

/*button size*/
.buttons[data-size='big'] {
	min-width: 140px;
	height: 50px;
	font-size: 16px;
}
.buttons[data-size='md'] {
	min-width: 65px;
	height: 36px;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 12px;
}
.buttons[data-size='sm'] {
	min-width: 48px;
	height: 30px;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 12px;
}

/*button primary*/
.buttons[data-intent='primary'] {
	background: var(--p1);
	border-color: var(--p1);
	color: #fff;
	font-weight: 700;
}
.buttons[data-intent='primary']:hover:not([disabled]) {
	background: #1D6ADD;
}
.buttons[data-intent='primary']:disabled {
	background: var(--p1);
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
.buttons[data-intent='primary-outline'] {
	color: var(--p2);
	border-color: var(--p1);
	background: #fff;
	font-weight: 500;
}
.buttons[data-intent='primary-outline']:hover:not([disabled]) {
	background: #F2F7FF;
}
.buttons[data-intent='primary-outline']:disabled {
	opacity: 0.5;
}
.buttons[data-intent='primary-teritary'] {
	color: var(--p2);
	border-color: #5C9EFF;
	background: #EDF4FF;
	font-weight: 500;
}
.buttons[data-intent='primary-teritary']:hover:not([disabled]){
	background: #DFECFF;
}
/*button secondary*/
.buttons[data-intent='secondary']{
	background: #8491AF;
	border-color: #8491AF;
	color: #fff;
	font-weight: 700;
}
.buttons[data-intent='secondary']:hover:not([disabled]){
	background: #707E9F;
}
.buttons[data-intent='secondary']:disabled {
	background-color: #8491AF;
	opacity: 1;
}
.buttons[data-intent='secondary-outline']{
	background: #fff;
	border-color: #ccc;
	color: #333;
	font-weight: 400;
}
.buttons[data-intent='secondary-outline']:hover:not([disabled]){
	background: #F8F8F8;
}