@charset "UTF-8";

/* Buttons, Button group */
.bt-group {
	font-size: 0;
}
.bt {
  white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	padding: 0 15px;
	font-size: 15px;
	vertical-align: top;
	border-radius: 0;
	text-decoration: none;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid red;
}
.bt:disabled {
    cursor: not-allowed;
}
.bt-pri { /*pri*/
  background: var(--p1);
  border-color: var(--p1);
  color: #fff;
  font-weight: 700;
}
.bt-pri:hover {
  background: #1D6ADD;
}
.bt-pri:disabled {
  background: var(--p1);
  color: rgba(255, 255, 255, 0.5);
}
.bt-pri:disabled:hover {
  background: var(--p1);
  color: rgba(255, 255, 255, 0.5);
}

.bt-pri-o { /*pri-o*/
  color: var(--p2);
  border-color: var(--p1);
  background: #fff;
  font-weight: 500;
}
.bt-pri-o:hover {
  background: #F2F7FF;
}
.bt-pri-o:disabled {
  opacity: 0.5;
}
.bt-pri-o:disabled:hover {
  background: #fff;
}

.bt-pri-o2 { /*pri-o2*/
  color: var(--p2);
  border-color: #5C9EFF;
  background: #EDF4FF;
  font-weight: 500;
}
.bt-pri-o2:hover {
  background: #DFECFF;
}
.bt-pri-o2:disabled {
  opacity: 0.5;
  background: #fff;
}
.bt-pri-o2:disabled:hover {
  opacity: 0.5;
  background: #fff;
}

.bt-gray { /*gray*/
  background: #8491AF;
  border-color: #8491AF;
  color: #fff;
  font-weight: 700;
}
.bt-gray:hover { 
  background: #707E9F;
}
.bt-gray:disabled,
.bt-gray:disabled:hover {
  background: #8491AF;
}

.bt-gray-o { /*gray-o*/
  background: #fff;
  border-color: #ccc;
  color: #333;
  font-weight: 400;
}
.bt-gray-o:hover { 
  background: #F8F8F8;
}
.bt-gray-o:disabled,
.bt-gray-o:disabled:hover {
  opacity: 0.5;
}

.bt-big {
    min-width: 140px;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    /* font-weight: 700; */
}

.bt-md {
    min-width: 65px;
    width: auto;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}
.bt-md.with-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.bt-md.with-ic>.ic {
  display: block;
  width: 20px;
  height: 20px;
  background: red;
}

.bt-sm {
    min-width: 48px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}
.bt-sm.with-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.bt-sm.with-ic>.ic {
  display: block;
  width: 20px;
  height: 20px;
  background: red;
}

.bt-prev-28,
.bt-next-28 {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border: 0;
    text-indent: -9999px;
}

/*20240415/mglee*/
.bt-up,
.bt-down {
	position: relative;
	text-indent: -9999px;
	min-width: 0;
	width :30px;
	height: 30px;
  
  /* min-width: 48px; */
  /* width: auto; */
  /* height: 30px; */
  line-height: 30px;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;

  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-weight: 400;
}

.bt-up:hover,
.bt-down:hover { 
  background: #F8F8F8;
}
.bt-gray-o:disabled,
.bt-gray-o:disabled:hover {
  opacity: 0.5;
}



.bt-up:after,
.bt-down:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background:  no-repeat 0 0;
	background-size: contain;
}

.bt-up:after {
	background-image: url(../../img/icon/ic_up_14.svg);
}
.bt-down:after {
background-image: url(../../img/icon/ic_down_14.svg);
}

/*Buttons*/
a.bt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/*button size*/
.bt[data-size='big'] {
	min-width: 150px;
	height: 50px;
	font-size: 16px;
}
.bt[data-size='md'] {
	min-width: 65px;
	height: 36px;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 12px;
}
.bt[data-size='sm'] {
	min-width: 48px;
	height: 30px;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 12px;
}

/*button pri*/
.bt[data-color='pri'] {
	background: var(--p1);
	border-color: var(--p1);
	color: #fff;
	font-weight: 700;
}
.bt[data-color='pri']:hover:not([disabled]) {
	background: #1D6ADD;
}
.bt[data-color='pri']:disabled {
	background: var(--p1);
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
.bt[data-color='pri-o'] {
	color: var(--p2);
	border-color: var(--p1);
	background: #fff;
	font-weight: 500;
}
.bt[data-color='pri-o']:hover:not([disabled]) {
	background: #F2F7FF;
}
.bt[data-color='pri-o']:disabled {
	opacity: 0.5;
}
.bt[data-color='pri-o2'] {
	color: var(--p2);
	border-color: #5C9EFF;
	background: #EDF4FF;
	font-weight: 500;
}
.bt[data-color='pri-o2']:hover:not([disabled]){
	background: #DFECFF;
}
/*button gray*/
.bt[data-color='gray']{
	background: #8491AF;
	border-color: #8491AF;
	color: #fff;
	font-weight: 700;
}
.bt[data-color='gray']:hover:not([disabled]){
	background: #707E9F;
}
.bt[data-color='gray']:disabled {
	background-color: #8491AF;
	opacity: 1;
  color:rgba(255, 255, 255, 0.5);
}
.bt[data-color='gray-o']{
	background-color: #fff;
	border-color: #ccc;
	color: #333;
	font-weight: 400;
}
.bt[data-color='gray-o']:hover:not([disabled]){
	background-color: #F8F8F8;
}

/*리프레시*/
.bt-refresh {
  position: relative;
  white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
  border-radius: 3px;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
	background: #fff;
  border: 0;
	border: 1px solid #ccc;
	color: #333;  
  text-indent: -9999px;
  flex-shrink: 0;
}
.bt-refresh:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../img/icon/ic_refresh_16.svg) no-repeat 50% 50%;
}

/*right arrow*/
.bt.bt-right-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  padding-right: 7px;
}
.bt.bt-right-arr:after {
  content: "";
  display: block;  
  width: 16px;
  height: 16px;
  background: url(../../img/icon/ic_right_arr_16.svg) no-repeat 50% 50%;
}

.bt.bt-left-ico, 
.bt.bt-right-ico {
  font-size:0;
  min-width:36px;
  padding:0;
  background-position: center;
  background-repeat: no-repeat;
}
.bt.bt-left-ico {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.6L1.49532 6.10469L7 0.600006' stroke='black' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.bt.bt-right-ico {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49609 11.6L7.00077 6.10468L1.49609 0.599998' stroke='black' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.bt.bt-left-ico:disabled,
.bt.bt-right-ico:disabled {
  opacity: 0.5;
}