@charset "UTF-8";

.md {
    display: none;
    z-index: 110;
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-height: 200px; */
    /* max-height: 97vh; */
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
}
.md.md-big {width: 1000px;}
.md.md-md {width: 800px;}
.md.md-sm {width: 600px;}

.md>.inner {
    padding: 35px 25px 25px 25px;
}
.md .md-header {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* border-bottom: 2px solid #333; */
    /* padding-bottom: 20px; */
}
.md .md-header .btn-close {
    width: 20px;
    height: 20px;
    background: url(../../img/icon/ic_x_20.svg) no-repeat 0 0;
    /* background: red; */
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    position: relative;
    top: 6px;
}
.md .md-con {
    margin-bottom: 20px;
    overflow-y: auto;
    /* max-height: calc(100vh - 200px); */
    max-height: 625px;
}
.md .md-bottom .bt {
    width: 110px;
}   

.md.active {display: block;}
.md+.md-dim {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}
.md+.md-dim.active {display: block;}


/*ReactMocal css*/
body.ReactModal__Body--open {
	overflow: hidden;
	max-height: 100vh;
}
.ReactModal__Overlay {
	z-index: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6)!important;
	opacity: 0;
 }
.ReactModal__Overlay--after-open{
	opacity: 1;
 }
.ReactModal__Overlay--before-close{
	opacity: 0;
 }
 .ReactModal__Content {
	box-sizing: border-box;
	position: static !important;
	overflow: hidden !important;	
	flex: 1;
	display: flex;
	flex-direction: column;	
	inset: 0 !important;
	padding: 30px 25px !important;
	border: 0px !important;
	border-radius: 10px !important;
	/* max-height: calc(100vh - 320px); */
 }
.ReactModal__Content .modal-con {
	max-height: 625px;
}

 .modal-popup-header {
	display:flex;
	align-items: center;
	margin-bottom:20px;
 }
 .modal-popup-header .title {
	font-size:22px;
	line-height: -1px;
	font-weight: 600;
	color:#000;

 }
 .modal-popup-header .btn-close {
	display: inline-block;
	margin-left: auto;
	font-size:0;
	border:0;
	padding:0;
	width:20px;
	height:20px;
	background-repeat: no-repeat;
	background-image: url('assets/img/icon/ic_x_20.svg');
	background-color: transparent;
 }
.modal-popup-body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.modal-con{
	overflow: auto;
	overflow-x: hidden;
	flex: 1;
	display: block;
}
.modal-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:20px;
	gap: 8px;
}
.modal-popup .modal-bottom .bt,
.modal-popup .modal-bottom .buttons {
	min-width:110px;
}

.size-sm .ReactModal__Content{
	max-width: 600px;
}
.size-mid .ReactModal__Content{
	max-width: 800px;
}
.size-lg .ReactModal__Content{
	max-width: 1000px;
}
.size-xlg .ReactModal__Content{
	max-width: 1290px;
}

