@charset "UTF-8";
    /* Select */
.sl {
    position: relative;
    /* min-width: 100px; */
    min-width: 75px;
}
.sl>select {
  outline: 0;
    border: 1px solid #ccc;
    appearance: none;
    padding: 0 27px 0 7px;
    min-width: 0;
    width: 100%;
    cursor: pointer;
    color: #333;
    border-radius: 3px;
}
.sl>select:focus {
  border-color: var(--p1);
}
.sl.sl-big>select {
  height: 50px;
  font-size: 15px;
  padding: 0px 12px 0px 15px;  /*우측은 12px+아이콘크기*/
}
.sl.sl-md>select {
  height: 36px;
  font-size: 14px;
  /* padding: 0px 10px 0px 12px; */
  padding: 0px 35px 0px 12px;
}
.sl.sl-sm>select {
  height: 30px;
  font-size: 13px;
  padding: 0px 8px 0px 8px;
}

.sl>select::-ms-expand {display:none}
.sl:after {
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background: url(../../img/icon/ic_sl_normal.svg) no-repeat 0 0;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* z-index: 1; */ /*20240424 : 화살표가 캘린더를 뚫고나오는 현상 해결*/
    text-align: center;
    pointer-events: none;
}
.sl.sl-big:after {
  right: 12px;
}
.sl.sl-md:after {
  right: 10px;
}
.sl.sl-sm:after {
  right: 8px;
}
.sl>select:disabled {
    color: #cccccc;
}
.sl.sl-disabled:after {
    background: url(../../img/icon/ic_sl_disabled.svg) no-repeat 0 0;
}
.sl.sl-disabled>select {
    cursor: default;
}

/*disabled*/
.sl>select:disabled {
    border-color: #ccc;
    color: #666;
    background: #f3f3f3;
    cursor: not-allowed;
  }
  .sl[data-state="disabled"]:after{
    opacity: 0.3;
  }