@charset "UTF-8";

.ta {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
		min-height: 126px;
}
.ta.ta-readonly {
    border-color: #CCC;
    background: #F3F3F3;		
}
.ta .ta-ip {
    border: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    padding: 0;
    color: #333;
    background: none;
    height: 100%;
    resize: none;
}
.ta.ta-readonly .ta-ip {
	color: #333;
}
.ta .ta-ip::placeholder {
    color: #ccc;
}
.ta.with-counting {
    
}
.ta.with-counting .counting {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}