@charset "UTF-8";

.tx.tx-hd1 {
  font-size: 42px;
  /* line-height:  51px; */
  font-weight: 600;
  margin-bottom: 60px;
}
.tx.tx-hd2 {
  /* font-size: 30px; */
  font-size: 26px;
  /* line-height:  36px; */
  font-weight: 600;
  margin-bottom: 25px;
}
.tx.tx-hd3 {
  font-size: 22px;
  /* line-height: 27px ; */
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px; /*temp*/
}

.tx.tx-bd1 {
  font-size: 16px;
  /* line-height: 19px; */
  font-weight: 500;
}
.tx.tx-bd2 {
  font-size: 15px; 
  /* line-height: 25px;  */
  font-weight: 500;
}
.tx.tx-bd3 {
  font-size: 15px;
  /* line-height: 25px; */
  font-weight: 400;
}
.tx.tx-cp1 {
  font-size: 14px;
  /* line-height: 22px; */
  font-weight: 400;
}
.tx.tx-cp2 {
  font-size: 13px;
  /* line-height: 22px; */
  font-weight: 400;
}

.tx.tx-link {
  color: #000;
}
.tx.tx-link:hover {
  color: var(--p2);
}

.tx.tx-link2 {
  color: var(--p2);
  text-decoration: underline;
}
.tx.tx-link:hover {
  /* color: var(--p2); */
}

.tx-alert {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 400;
  font-size: 12px;
  color: var(--e1);
  text-align: left;
  margin-top: 8px;
}
.tx-alert:before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  background: url(../../img/icon/ic_loginalert_13.svg) no-repeat 0 0;
}