@charset "UTF-8";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [대중소기업상생협력기금종합관리시스템]  공통 컴포넌트(부품) 정의.
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2024.$$.$$.$$:$$
    @ 메모 : -
*/
/*기초 컴포넌트*/
@import url("component/_TX.css");
@import url("component/_PT.css");
@import url("component/_BT.css");
@import url("component/_TF.css");
@import url("component/_SL.css");
@import url("component/_CH.css");
@import url("component/_RD.css");
@import url("component/_TA.css");
@import url("component/_PG.css");

/*공간 컴포넌트*/
@import url("component/_AL.css");
@import url("component/_MD.css");

/*특수 컴포넌트*/
@import url("component/_ND.css");
@import url("component/_TB.css");
@import url("component/_FO.css");
@import url("component/_SF.css");
/* @import url("component/_IB.css"); */


/* Badge (Tag) */
.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:0 8px;
    height:20px;
    color:#fff;
    font-size:11px;
    line-height: 1;
    font-weight: 700;
    min-width: 54px;
    border-radius: 10px;
}
.badge.red {background-color: #FF5757;}
.badge.blue {background-color: #4B93FF}
.badge.green {background-color: #23C95C}
.badge.yellow {background-color: #FF993A;}
.badge.purple {background-color: #7577FF}
.badge.gray {background-color: #A6A6A6;}