@charset "UTF-8";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [대중소기업상생협력기금종합관리시스템] 공통 레이아웃 정의
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2024.06.04.18:00
    @ 메모 :  
        - (거의)모든 페이지에 등장하는 '공통 영역'을 정의한다. 예를들면 상단 헤더, 왼쪽 어사이드, 중앙 메인컨텐트 영역. 
        - z-index는 _layout.css 최상단에서 모아서 정의한다.
*/

/*z-index*/
.loading {z-index: 1100;}
.main-img-popup {z-index: 1050;}
.alert {z-index: 1000;}
.modal {z-index: 900;}
.al {z-index: 850;}
.al-dim {z-index: 800;}
.md {z-index: 750;}
.md-dim {z-index: 700;}
.fww-util {z-index: 510;}
.fww-header {z-index: 500;}
.sf {z-index: 10;}
#sheetDiv {z-index: 5; position: relative;}

.fww-root {
    min-width: 1745px; /*엣지기준 */
}
.fww-root .fww-header-util {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background: #fff;
}
.fww-root .fww-util {
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
}
.fww-root .fww-util>ul{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}
.fww-root .fww-util>ul>li {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.fww-root .fww-util>ul>li:first-of-type {
    margin-left: 0;
}
.fww-root .fww-util>ul>li:last-of-type {
    margin-right: 0;
}
.fww-root .fww-util>ul>li:after {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #ccc;
}   
.fww-root .fww-util>ul>li:last-of-type:after {
    display: none;;
}
.fww-root .fww-util>ul>li>a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.fww-root .fww-util>ul>li>span {
    font-size: 13px;
    color: #000;
}
.fww-root .fww-util>ul>li>span .user-name {
    font-weight: 600;
}
.fww-root .fww-util>ul>li>span .user-session {
    font-weight: 600;
    color: var(--p1);
}
.fww-root .fww-util>ul>li> .btn-session-extend {
    font-size: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    border: 1px solid #ccc;
    background: #fff;
    height: 22px;
    height: 26px;
    border-radius: 3px;
    margin-left: 5px;
}
.fww-root .fww-header {
    position: relative;
    height: 69px;
    border-bottom: 1px solid #e3e3e3;
    background: #fff;
}
.fww-header .logo {
    position: absolute;
    top:0;
    left:0;
    width:255px;
    height: 70px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fww-header.usr .logo .logo-deco {
    width: 70px;
    position: absolute;
    bottom: 0;
    /* right: -47px; */
    right: -37px;
}
.fww-gnb { 
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background-color: #fff;
    padding-left:312px;
    border-bottom:1px solid #ededed;
}
.fww-gnb > ul {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}
.fww-header.active .fww-gnb .d1:first-child::after {
    content: '';
    position: absolute;
    transform: translateX(-100%);
    width:180px;
    height:180px;
    background-size: contain;
    pointer-events: none;
}
.fww-header.usr.active .fww-gnb .d1:first-child::after {
    left:-20px;
    bottom:20px;    
    background: url('/src/assets/img/char/char_gnb_usr.svg') center center no-repeat;
}
.fww-header.adm.active .fww-gnb .d1:first-child::after {
    left:-40px;
    bottom:40px;    
    background: url('/src/assets/img/char/char_gnb_adm.svg') center center no-repeat;
}
.fww-gnb .d1 {
    max-width:195px;
    flex: 1;
}
.fww-gnb .d1 > a {
    display: block;
    text-align: center;
}
.fww-gnb .d1 > a > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 0 15px;
    height: 67px;
    line-height: 70px;
    border-bottom: 3px solid transparent;
}
.fww-gnb .d1.active > a > span,
.fww-gnb .d1:hover > a > span,
.fww-gnb .d1 > a:hover span{
    color: var(--p1);
    border-color: var(--p1);
    font-weight: 700;
}
.fww-gnb .d1:first-child{
    position: relative;
}

.fww-gnb .d1:first-child .d2 {
    border-left:1px solid #ededed;
}
.fww-gnb .d2 {
    display: none;
    padding:10px 0 30px 0;
    height: calc(100% - 110px);
    border-right:1px solid #ededed;
}
.fww-header.active .d2 {
    display: block;
}
.fww-header.active::before {
    content:'';
    position: absolute;
    top:70px;
    left:0;
    width:100%;
    height:1px;
    background-color: #ededed;
    z-index: 3;
    pointer-events: none;
}
.fww-gnb .d2  a{
    display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color:#333;
    padding:10px 20px;
}
.fww-gnb .d2  a:hover {
    text-decoration: underline;
}
.fww-gnb .d2 .active > a {
    color: #297FFE;
    font-weight: 600;
}
.fww-root .fww-group-aside-con {
    position: relative;
    display: flex;
    width: 100%;
}
.fww-root .fww-group-aside-con .fww-aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 265px;
    padding: 35px 15px; 
    box-sizing: border-box;
    background: #fff;
}
.fww-root .fww-group-aside-con .fww-aside .tit-d1 {
    color: var(--p2);
    margin-bottom: 40px;
    margin-left: 15px;
    font-size: 22px;
    font-weight: 700;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li {
    border-bottom: 1px solid #eee;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li>button,
.fww-root .fww-group-aside-con .fww-aside>ul>li>a {
    border: 0;
    background: none;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    height: 56px;
    line-height: 60px;
    font-weight: 500;
    text-decoration: none;
    color: #000; 
    box-sizing: border-box;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li>button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: url(../img/icon/ic_lnb_arr_down_gray.svg) no-repeat 0 0;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li.thispage>button,
.fww-root .fww-group-aside-con .fww-aside>ul>li.thispage>a,
.fww-root .fww-group-aside-con .fww-aside>ul>li.active>button,
.fww-root .fww-group-aside-con .fww-aside>ul>li.active>a,
.fww-root .fww-group-aside-con .fww-aside>ul>li> button.active {
    background: var(--p1);
    color: #fff;
    font-weight: 600;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li>button.no-sub:after {
    display: none;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li.active>button:after,
.fww-root .fww-group-aside-con .fww-aside>ul>li>button.active:after {
    background: url(../img/icon/ic_lnb_arr_up_white.svg) no-repeat 0 0;
}
.fww-root .fww-group-aside-con .fww-aside .d2 {
    display: none;
    background: #EDF4FF;
    padding: 6px 12px;
}
.fww-root .fww-group-aside-con .fww-aside>ul>li.active .d2,
.fww-root .fww-group-aside-con .fww-aside>ul>li > .active + .d2 {
    display: block;
}
.fww-root .fww-group-aside-con .fww-aside .d2>li:last-of-type {
    border-bottom: 0;
}
.fww-root .fww-group-aside-con .fww-aside .d2>li>a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    padding: 6px 0px;
}
.fww-root .fww-group-aside-con .fww-aside .d2>li:hover>a,
.fww-root .fww-group-aside-con .fww-aside .d2>li.active>a {
    color: var(--p2);
    font-weight: 600;
}
.fww-root .fww-group-aside-con .fww-con {
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 30px;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li {
    position: relative;
    margin-right: 13px;
    margin-left: 12px;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li:after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li>a {
    font-size: 13px;
    color: #333;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li:first-of-type {
    font-size: 0;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li:first-of-type>a {
    text-indent: -9999px;
    display: inline-block;
    font-size: 0;
    width: 15px;
    height: 15px;
    background: red;
    background: url(../img/icon/ic_home.svg) no-repeat 0 0;
    position: relative;
    bottom: -1px;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li:last-of-type {
    margin-right: 0;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li:last-of-type:after {
    display: none;
}
.fww-root .fww-group-aside-con .fww-con .fww-brd>li:last-of-type>a {
    color: var(--p2);
}
.fww-root .fww-group-aside-con .fww-con.no-aside {
    max-width: none;
    width: 100%;
    background: #f9fafc;
}
.fww-root .fww-group-aside-con .fww-con .fww-main {
    padding: 0px 30px 30px 30px;
}
.fww-root .fww-group-aside-con .fww-con .fww-main .breadcrumb {
    margin-bottom: 15px;
}
.fww-root .fww-group-aside-con .fww-con .fww-main .tit-pagetitle {
    font-size: 29px;   
    font-weight: 800;
    color: #333;
    margin-bottom: 40px;
}
.fww-root .fww-group-aside-con .fww-con .fww-main .phone-number {
    font-size: 16px;   
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 10px;
}
.fww-container {
    display:flex;
    flex-direction: column;
    min-height:  calc(100vh - 125px);
    overflow: visible;
}
.fww-group-aside-con {
    flex:1;
}
.fww-footer-menu {
    display:flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:15px 0;
}
.fww-footer-menu a {
    color:#333;
    font-size:14px;
    line-height: 20px;
    font-weight: 400;
}
.fww-footer-menu li {
    display: flex;
    align-items: center;
}
.fww-footer-menu li + li {margin-left:50px;}
.fww-footer-menu li + li::before {
    content: '';
    display: inline-block;
    width:1px; 
    height: 16px;
    background-color: #ccc;
    margin-right:50px;
}
.fww-footer-info {
    padding:35px 0 40px 468px;
    font-size:14px;
    line-height: 1;
    color:#666;
    background-repeat: no-repeat;
    background-position: 280px 35px;
    background-image: url('../img/logo/logo_gray.svg');
}
.fww-footer-info a {
    color:#666;
}
.fww-footer-info address {
    font-style: normal;
}
.fww-footer-info .copyright {
    margin-top:15px;
}
.fww-footer-info .info {
    display: flex;
    align-items: center;
    margin-bottom:8px;
    padding:0;
    background: initial;
}
.fww-footer-info .info > p::before {
    display: flex;
    align-items: center;
    content: '';
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #ccc;
    margin:0 12px;
}
.fww-root .fww-util>ul>li>a{
    display: flex;
}
.fww-root .fww-util>ul>li>a::before{
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
.fww-root .fww-util>ul>li> .login::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13V15C1 16.1022 1.89778 17 3 17H13.2222C14.3244 17 15.2222 16.1022 15.2222 15V3C15.2222 1.89778 14.3244 1 13.2222 1H3C1.89778 1 1 1.89778 1 3V5' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.33778 9H1' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.33337 5.99561L9.33782 9.00005L6.33337 11.9956' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fww-root .fww-util>ul>li> .join::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.97002 8.14C9.94168 8.14 11.54 6.54166 11.54 4.57C11.54 2.59834 9.94168 1 7.97002 1C5.99837 1 4.40002 2.59834 4.40002 4.57C4.40002 6.54166 5.99837 8.14 7.97002 8.14Z' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.2001 7.5H16.2001' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.7001 9V6' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.40002 14.4201C1.40002 12.3301 3.09002 10.6401 5.18002 10.6401H7.35002' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.35 14.4201C14.35 12.3301 12.66 10.6401 10.57 10.6401H7.40002' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fww-root .fww-util>ul>li> .logout::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 13.5V15.5C15 16.6022 14.1163 17.5 13.0312 17.5H2.96875C1.88375 17.5 1 16.6022 1 15.5V3.5C1 2.39778 1.88375 1.5 2.96875 1.5H13.0312C14.1163 1.5 15 2.39778 15 3.5V5.5' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.3378 9.5H7' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.333 6.49609L15.3375 9.50054L12.333 12.4961' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fww-root .fww-util>ul>li> .mypage::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.07 9.14C11.0417 9.14 12.64 7.54166 12.64 5.57C12.64 3.59834 11.0417 2 9.07 2C7.09834 2 5.5 3.59834 5.5 5.57C5.5 7.54166 7.09834 9.14 9.07 9.14Z' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 15.4201C2.5 13.3301 4.19 11.6401 6.28 11.6401H8.45' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.4502 15.4201C15.4502 13.3301 13.7602 11.6401 11.6702 11.6401H8.50024' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fww-root .fww-util>ul>li> .admin::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.75 10.23V11.07' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.75 14.4199V15.2599' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5605 11.4902L11.2805 11.9102' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.2002 13.5801L14.9202 14.0001' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5605 14.0001L11.2805 13.5801' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.2002 11.9102L14.9202 11.4902' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.9295 11.5599C14.5895 12.2199 14.5895 13.2799 13.9295 13.9299C13.2695 14.5899 12.2095 14.5899 11.5595 13.9299C10.8995 13.2699 10.8995 12.2099 11.5595 11.5599C12.2195 10.8999 13.2795 10.8999 13.9295 11.5599Z' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.70965 8.14C9.6813 8.14 11.2796 6.54166 11.2796 4.57C11.2796 2.59834 9.6813 1 7.70965 1C5.73799 1 4.13965 2.59834 4.13965 4.57C4.13965 6.54166 5.73799 8.14 7.70965 8.14Z' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 14.4201C1 12.3301 2.69 10.6401 4.78 10.6401H6.95' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fww-root .fww-util>ul>li> .home::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.52734 4.70215V11.6041C2.52734 12.4201 3.16109 13.1001 3.95734 13.1001H11.1398C11.9198 13.1001 12.5698 12.4371 12.5698 11.6041V4.70215' stroke='%23666666' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 5.7392L7.63 1.2002L14 5.7392' stroke='%23666666' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fww-adn-footer {
    padding:15px 10px;
    color:#666;
    font-size:13px;
    line-height: 1;
    text-align: center;
    margin-left:265px;
}
.fww-dashborad .fww-adn-footer{ 
    background-color: #EFF2F6;
    margin:0;
}
/*loading*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);
    /* background-image: url('../img/pages/loading_ci.svg'); */
    background-image: url('../img/char/char_loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 160px 160px;
}
/*
.loading .loader {
    display: block;
    width: 105px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    background: url('../img/pages/loading.png') center center no-repeat;
    background-size: contain;
}
*/
/*
@keyframes rotation {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} 
*/