@charset "UTF-8";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [대중소기업상생협력기금종합관리시스템] 상세 페이지 스타일 정의
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2024.$$.$$.$$:$$
    @ 메모 : 앞에서 _component, _layout으로 커버되지 않는 각 페이지마다 유니크한 부분은 이곳에서 따로 정의한다.
*/
/*

[관리자페이지]--------------------------------------------------------------------------------------------------

*/

/*adm_login*/
.adm-login-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #F9FAFC;
}
.adm-login {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 920px;
    height: 540px;
    /* border: 1px solid red; */
    border-radius: 8px;
    background: #fff;
    display: flex;
    overflow: hidden;
    border: 1px solid #eee;
}
.adm-login>.img-area,
.adm-login>.form-area {
    width: 50%;
}
.adm-login>.img-area {
    background: url(../img/char/char_login.svg) no-repeat 0 0;	
    background-size: cover;
    /* width: 340px; */
    /* height: 376px; */
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adm-login>.img-area>img {
    
}
/* .adm-login>.img-area>img { */
    /* width: 100%; */
/* } */
.adm-login>.form-area {
    /* background: lightyellow; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.adm-login>.form-area>.inner {
    text-align: center;
    /* width: 262px; */
    width: 330px;
    margin-top: 90px;
}
.adm-login>.form-area .tit {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--p2);
    text-align: left;
}
.adm-login>.form-area .tf {
    padding-left: 43px;
    background: #fff no-repeat 15px 15px;
}
.adm-login>.form-area .tf:first-of-type {
    margin-bottom: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99967 10.0003C12.3009 10.0003 14.1663 8.13485 14.1663 5.83366C14.1663 3.53247 12.3009 1.66699 9.99967 1.66699C7.69849 1.66699 5.83301 3.53247 5.83301 5.83366C5.83301 8.13485 7.69849 10.0003 9.99967 10.0003Z' stroke='%23C8C8C8' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.1585 18.3333C17.1585 15.1083 13.9501 12.5 10.0001 12.5C6.05013 12.5 2.8418 15.1083 2.8418 18.3333' stroke='%23C8C8C8' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.adm-login>.form-area .tf:last-of-type {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.33268V5.66602C5 2.90768 5.83333 0.666016 10 0.666016C14.1667 0.666016 15 2.90768 15 5.66602V7.33268' stroke='%23C8C8C8' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='2.6' y='7.6' width='14.8' height='10.8' rx='1.4' stroke='%23C8C8C8' stroke-width='1.2'/%3E%3Cpath d='M13.3301 13.1169H13.3375' stroke='%23C8C8C8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.99607 13.1169H10.0036' stroke='%23C8C8C8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.66209 13.1169H6.66957' stroke='%23C8C8C8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.adm-login>.form-area .bt {
    /* height: 46px; */
    width: 100%;
    /* font-size: 14px; */
    /* font-weight: 700; */
    margin-top: 15px;
}
.adm-login-wrap .adm-login-footer {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

/*메인대시보드*/
.adm-dash {
    width: 100%;
    background: #EFF2F6;
    overflow-x: hidden;
}
.adm-dash .adm-dash-section {
    background: #fff;
    margin-bottom: 20px;
}
.adm-dash .adm-dash-section .tit-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.adm-dash .adm-dash-section .tit {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.adm-dash .adm-dash-section .date {
    font-weight: 400;
    color: #666;
    font-size: 13px;
}
.adm-dash .adm-dash-section.adm-dash-section-01 {
    /* padding: 20px 40px; */
    padding: 20px 0;
    
    
}
.adm-dash .adm-dash-section.adm-dash-section-01>.inner {
    /* max-width: 1920px; */
    max-width: 1680px;
    /* max-width: 1840px; */
    margin: 0 auto;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list {
    display: flex;
    column-gap: 20px;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li {
    position: relative;
    /* border: 1px solid blue; */
    height: 120px;
    flex-grow: 1;
    flex-basis: 0;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;    
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(1)>a {background: #4792FF;}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(2)>a {background: #7486FF;}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(3)>a {background: #0FBBF4;}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(4)>a {background: #9BD108;}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li .tit-d2 {
    display: flex;
    align-items: center;    
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: 700;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li .tit-d2:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background: red; */
    background-repeat: none;
    background-position: 50% 50%;
    margin-right: 10px;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(1) .tit-d2:before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.85'%3E%3Cpath d='M26.8545 0.854492H0.854492' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.8545 13.8545V6.7085' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.65234 13.8545V11.4763' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.0566 13.8547V9.08691' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.5628 0.854492V16.3013C25.5628 17.8219 24.2479 19.0568 22.6358 19.0568H5.0852C3.47307 19.0568 2.1582 17.8219 2.1582 16.3013V0.854492' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.1582 19.0569L17.7536 24.2592' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5515 19.0569L9.95605 24.2592' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(2) .tit-d2:before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.85'%3E%3Cpath d='M11.7296 28.1499C17.0179 28.1499 21.305 23.8629 21.305 18.5746C21.305 13.2863 17.0179 8.99927 11.7296 8.99927C6.44132 8.99927 2.1543 13.2863 2.1543 18.5746C2.1543 23.8629 6.44132 28.1499 11.7296 28.1499Z' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.8018 4.95535C15.5423 1.21475 21.6082 1.21475 25.3488 4.95535C29.0894 8.69594 29.0894 14.7618 25.3488 18.5024' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.3547 18.416L16.1635 15.412H15.3691L14.5892 18.416H13.0439L12.3651 15.412H11.3541L10.6464 18.416H9.08666L8.32121 15.412H7.51244L8.29233 18.416H7.42578V19.037H8.46564L9.4044 22.6332H10.372L11.2241 19.037H12.4806L13.2894 22.6332H14.2859L15.2247 19.037H16.2646V18.416H15.398H15.3547ZM9.90988 21.5789L9.23109 19.037H10.502L9.90988 21.5789ZM11.3397 18.416L11.8307 16.3652L12.2929 18.416H11.3397ZM13.7516 21.5789L13.1739 19.037H14.4304L13.7516 21.5789Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/g%3E%3C/svg%3E");
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(3) .tit-d2:before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.85'%3E%3Cpath d='M3.80078 3.78656V7.22434H7.253' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.16211 7.22444C6.51655 3.91667 10.3732 1.75 14.7499 1.75C21.9288 1.75 27.7499 7.57111 27.7499 14.75C27.7499 15.53 27.6632 16.2811 27.5332 17.0322' stroke='white' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.6983 25.7133V22.2755H22.2461' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.3378 22.2754C22.9833 25.5832 19.1267 27.7499 14.75 27.7499C7.57111 27.7499 1.75 21.9288 1.75 14.7499C1.75 13.9699 1.83667 13.2188 1.96667 12.4677' stroke='white' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.2644 15.1543L20.2467 12.1643H19.2789L18.3256 15.1543H16.4333L15.5956 12.1643H14.3533L13.4867 15.1543H11.5656L10.6122 12.1643H9.61556L10.5689 15.1543H9.5V15.7754H10.7711L11.9267 19.3576H13.1111L14.1511 15.7754H15.6822L16.6789 19.3576H17.8922L19.0478 15.7754H20.3189V15.1543H19.25H19.2644ZM12.5911 18.3032L11.7678 15.7754H13.3133L12.5911 18.3032ZM14.3533 15.1543L14.96 13.1176L15.5233 15.1543H14.3533ZM17.3144 18.3032L16.6067 15.7754H18.1378L17.3144 18.3032Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li:nth-of-type(4) .tit-d2:before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.85'%3E%3Cpath d='M26.3437 25.875V11.4375C26.3437 10.7156 25.7137 10.125 24.9437 10.125H19.3438' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.0225 16.1603H21.8709' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.0225 21.1451H21.8709' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.4687 25.875V5.21528C18.4687 4.54687 17.7994 4 16.9812 4H5.08125C4.26312 4 3.59375 4.54687 3.59375 5.21528V25.875' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.41992 8.38757H14.1167' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.41992 12.6603H14.1167' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.41992 17.125H14.1167' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 26L2 26' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
}


.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li .value {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: 500;    
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li .value>em {
    font-size: 23px;
    font-weight: 700;    
}
.adm-dash .adm-dash-section-rest>.inner {
    max-width: 1840px;
    /* padding: 0 40px; */
    margin: 0 auto;
}
.adm-dash .adm-dash-section.adm-dash-section-02 ,
.adm-dash .adm-dash-section.adm-dash-section-03 {
    padding: 25px 30px;
    border-radius: 8px;
}

/* .adm-dash .adm-dash-section.adm-dash-section-02 */
.adm-dash .adm-dash-section.adm-dash-section-02 {
    position: relative;
}
.adm-dash .adm-dash-section.adm-dash-section-02:after {
    position: absolute;
    right: 25px;
    bottom: 25px;
    content: "";
    display: block;
    width: 200px;
    height: 142px;
    background: #fff url(../img/char/char_dash_02.svg) no-repeat 100% 100%;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list {
    /* display: grid; */
    /* grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr); */
    /* gap: 20px 20px; */
    display: block;
    width: 100%;
    font-size: 0;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: calc(25% - 15px);
    margin-right: 20px;
    height: 142px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li:nth-of-type(1),
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li:nth-of-type(2),
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li:nth-of-type(3),
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li:nth-of-type(4) {
    margin-bottom: 20px;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li:nth-of-type(4) {
    margin-right: 0;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li.tot {
    border-color: #CADFFA;
    background: #EDF4FF;
    width: 306px;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* background: pink; */
    /* border: 1px solid red; */
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li .tit-d2 {
    position: absolute;
    top: 26px;
    left: 26px;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li.tot .tit-d2 {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li .value {
    position: absolute;
    bottom: 26px;
    right: 26px;
    font-size: 22px;
    font-weight: 400;
    color: #333;    
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li.tot .value {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li .value>em {
    font-weight: 600;
}

/* .adm-dash .adm-dash-section.adm-dash-section-03 */
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
    gap: 25px 20px;
    /* padding: 0px 30px 30px 30px;     */
}

.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li {
    position: relative;
    height: 140px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    /* padding: 26px; */
    overflow: hidden;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    display: block;
    width :100px;
    height: 80px;
    /* background: red; */
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:nth-of-type(1):after {
    background-image: url(../img/char/char_dash_03_01.svg);
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:nth-of-type(2):after {
    background-image: url(../img/char/char_dash_03_02.svg);
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:nth-of-type(3):after {
    background-image: url(../img/char/char_dash_03_03.svg);
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* background: pink; */
    /* border: 1px solid red; */
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .tit-d2 {
    position: absolute;
    top: 26px;
    right: 42px;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .tit-d2:after {
    position: absolute;
    top: 2px;
    /* transform: translateY(-50%); */
    right: -21px;
    content: "";
    display: block;
    width:  16px;
    height:  16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 2.30005L12 8.27025L6 14.2404' stroke='%23323232' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li.tot .tit-d2 {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .value {
    position: absolute;
    bottom: 26px;
    right: 26px;
    font-size: 22px;
    font-weight: 400;
    color: #333;    
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li.tot .value {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .value>em {
    font-weight: 600;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:nth-of-type(1) .value>em {
    color: #000;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:nth-of-type(2) .value>em {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li:nth-of-type(3) .value>em {
    color: #0DB14B;
}

/* .adm-dash .adm-dash-section.adm-dash-section-04  */
.adm-dash .adm-dash-section.adm-dash-section-04 {
    position: relative;
    padding: 25px 30px; 
    border-radius: 8px;
    opacity: 0.8;
}
.adm-dash .adm-dash-section.adm-dash-section-04>.character {
    position: absolute;
    bottom: 74px;
    right: -72px;
    display: block;
    width: 85px;
    height: 186px;
    background: url(../img/char/char_dash_04.svg) no-repeat 0 0;
}
/*adm_1701*/
.info-bottom {
    margin-top: 10px;
    margin-bottom: 30px;
}
.info-bottom .desc {
    font-size:  15px;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 10px;
}
.info-bottom .who{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

/*adm_4320*/
/*adm_4320*/
.adm_4320_btn_in_out {
    position: absolute;
    top:  calc(50% - 50px);
    transform: translateY(-50%);
    right: -17px;
}
.adm_4320_btn_in_out .btn-in,
.adm_4320_btn_in_out .btn-out {
    position: absolute;
    width: 24px;
    height: 24px;
		border: 1px solid #CCCCCC;
		background: #fff;
		border-radius: 50%;		
    text-indent: -9999px;
}
.adm_4320_btn_in_out .btn-in {
   top: 40px;
}
.adm_4320_btn_in_out .btn-out {
  top: 0;  
}
.adm_4320_btn_in_out  .btn-in:after,
.adm_4320_btn_in_out  .btn-out:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	display: block;
	width: 5px;
	height: 10px;
	background:  no-repeat 0 0;
	background-size: contain;
}
.adm_4320_btn_in_out  .btn-in:after {
	background-image: url(../img/icon/ic_right_10.svg);
}
.adm_4320_btn_in_out  .btn-out:after {
background-image: url(../img/icon/ic_left_10.svg);	
}

/*user table form*/
.tb-search-form .hz-root{
    padding:30px 0;
}
.tb-search-form .bt-big {
    min-width:90px;
}
.tb-search-form .sl {
    min-width: 150px;
}

.tb-search-form  .tf {
    width:384px;
}
/*
.fww-main .tb-search-form + .tb + .pg {
    margin-bottom:70px;
}
*/

/*adm_6210에서 쓰이는 페이크-텍스트에어리어*/
.ta-view {
    /* background: #f8f8f8; */
    background: #fff;
    /* border: 1px solid #ccc; */
    border: 0;
    padding: 15px;
    height: auto;
}

/*pages - 6421*/
.pannel {
	border: 1px solid #ddd;
	border-radius: 4px;
}
.pannel .pannel-top {
	border-bottom: 1px solid #ddd;	
	padding: 15px 17px 15px 20px;
}
.pannel .pannel-bottom {
	padding: 15px;
}


/*adm_7101에서 쓰이는 페이크-텍스트에어리어*/
.ta-view.ta-view-white {
    background: #fff;
    border: 0;
    padding: 15px 0;
    /* height: 200px; */
}
/*adm_7000 (결재선)*/
.approval-gen {
    /* border: 1px dashed blue; */
    display: flex;
}
.approval-gen .box {
    border: 1px solid #e4e4e4;
    padding: 22px 15px 15px 15px;
    margin: 10px 0;
    min-height: 359px;
}
.approval-gen .approval-gen-member {
    flex-grow:  1;
    flex-shrink:  0;
    flex-basis:  0;
    /* background: pink; */
}
.approval-gen .approval-gen-member .ibsheet { /*temp*/
    /* height: 386px;  */
    /* border: 1px dashed red; */
}
.approval-gen .approval-gen-selected {
    flex-grow:  1;
    flex-shrink:  0;
    flex-basis:  0;  
    /* background: skyblue; */
}
.approval-gen .approval-gen-selected .ibsheet { /*temp*/
    /* height: 280px;  */
    /* border: 1px dashed red; */
}
.approval-gen .approval-ctr {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1; 
    width: 95px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
}
.approval-gen .approval-ctr  .bt {
    /* width: 65px; */
}
.info {
    background: #F9FAFC;
    padding: 12px 15px 18px 12px;
}
.info .info-tit {
    position: relative;
    font-size:  15px;
    font-weight:  600;
    color: #333;
    margin-bottom: 10px;
    padding-left: 22px;
}
.info .info-tit:after {
    position: absolute;
    content: "";
    display: block;
    top: 4px;
    left: 0;
    background: url(../img/icon/icon_info_14.svg) no-repeat 0 0;
    width: 14px;
    height:  14px;
}
.info .info-list {
    font-size:  13px;
    font-weight:  400;
    color: #666;
}
.info .info-list>li {
    position: relative;
    padding-left: 10px;
}
.info .info-list>li:after {
    position: absolute;
    content: "·";
    display: block;
    top: 8px;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
}
/*사용자 서브타이틀(어드민도 쓰길래...)*/
.section-title {
    font-weight: 600;
    color:#000;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
}
.section-title::before {
    content: '';
    display: inline-block;
    width:3px;
    height:16px;
    background-color:var(--p1);
    margin-right:10px;
    pointer-events: none;
}

/*adm_7101 (결재선 프로세스)*/
.approval-process {
    display: flex;
    /* column-gap: 70px; */
    column-gap: 67px;
    height: 180px;
}
.approval-process .item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 100%;
    border: 1px solid #ddd;
}
.approval-process .item:after {
    position: absolute;
    top:  50%;
    right: -50px;
    transform: translate(0, -50%);
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/icon/ic_right_arr_30.svg) no-repeat 0 0;
}
.approval-process .item:last-of-type:after {
    display: none;
}
.approval-process .item .role {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background: #f9fafc;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.approval-process .item .do {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.approval-process .item .stamp {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 44px;
    height: 44px;
    border: 1px solid #FF0000;
    color: #FF0000;
    border-radius: 50%;
    margin-bottom: 10px;
}
.approval-process .item .date {
    font-size: 13px;
    color: #666;
    font-weight: 400;
}
.approval-process .item .who {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.approval-process .item.active .who {
    color: var(--p2);
 }

 /*404, syscheck*/
.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:calc(100vh - 125px); */
    height: 100vh;
    width: 100%;
}
.error-conts {
    text-align: center;
    font-size:15px;
    color:#666;
    line-height: 24px;
}
.error-conts h1 {
    font-size:26px;
    font-weight: 500;
    color:#000;
    margin-bottom:15px;
}
.error-conts .ico {
    display: block;
    width:92px;
    height:92px;
    display: block;
    margin:0 auto 30px;
    background-repeat: no-repeat;
    background-color: #F7F9FD;
    border-radius: 50%;
}
.error-conts .ico.err404 {
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='49' viewBox='0 0 54 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.3213 47.1152C46.9487 47.1152 52.3213 41.7426 52.3213 35.1152C52.3213 28.4878 46.9487 23.1152 40.3213 23.1152C33.6939 23.1152 28.3213 28.4878 28.3213 35.1152C28.3213 41.7426 33.6939 47.1152 40.3213 47.1152Z' stroke='%23277CFA' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.33105 14.3362H45.532' stroke='%23277CFA' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M45.532 23.2083V6.53788C45.532 3.67174 43.2118 1.33203 40.3262 1.33203H6.53691C3.65127 1.33203 1.33105 3.65224 1.33105 6.53788V35.1408C1.33105 38.007 3.65127 40.3467 6.53691 40.3467H28.4132' stroke='%23277CFA' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44.0117 31.4556L36.6416 38.8061' stroke='%23277CFA' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44.0117 38.8061L36.6416 31.4556' stroke='%23277CFA' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.7845 9.30543C22.6029 9.30543 23.2664 8.642 23.2664 7.82361C23.2664 7.00523 22.6029 6.3418 21.7845 6.3418C20.9662 6.3418 20.3027 7.00523 20.3027 7.82361C20.3027 8.642 20.9662 9.30543 21.7845 9.30543Z' fill='%23277CFA'/%3E%3Cpath d='M15.1752 9.30543C15.9936 9.30543 16.657 8.642 16.657 7.82361C16.657 7.00523 15.9936 6.3418 15.1752 6.3418C14.3568 6.3418 13.6934 7.00523 13.6934 7.82361C13.6934 8.642 14.3568 9.30543 15.1752 9.30543Z' fill='%23277CFA'/%3E%3Cpath d='M8.56482 9.2859C7.76542 9.2859 7.08301 8.62298 7.08301 7.80408C7.08301 6.98518 7.74593 6.32227 8.56482 6.32227C9.38372 6.32227 10.0466 6.98518 10.0466 7.80408C10.0466 8.62298 9.38372 9.2859 8.56482 9.2859Z' fill='%23277CFA'/%3E%3C/svg%3E%0A");
    background-position: 24px 27px;
} 
.error-conts .ico.errsys { 
    background-image: url("data:image/svg+xml,%3Csvg width='53' height='48' viewBox='0 0 53 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.7842 28.5024V18.0857' stroke='%23FF424D' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26.7841 34.1201C26.4341 34.1201 26.1592 34.3951 26.1592 34.745C26.1592 35.095 26.4341 35.37 26.7841 35.37C27.1341 35.37 27.409 35.095 27.409 34.745C27.409 34.3951 27.1341 34.1201 26.7841 34.1201Z' fill='%23FF424D' stroke='%23FF424D' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.8589 4.17777L51.0066 37.6737C53.2313 41.5733 50.4316 46.4227 45.9322 46.4227H7.63679C3.16233 46.4227 0.33767 41.5733 2.5624 37.6737L21.7101 4.17777C23.9598 0.253243 29.6091 0.253243 31.8589 4.17777Z' stroke='%23FF5757' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: 50% 20px;
}
.error-conts .bt {
    margin-top:30px;
}

/*tot 추가*/
.tot {
    padding-left: 16px;
    background: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.32584 3.51347C5.65768 3.75295 5.65768 4.24705 5.32584 4.48653L0.951123 7.64371C0.554305 7.93009 -3.77953e-07 7.64655 -3.56562e-07 7.15718L-8.05521e-08 0.842818C-5.91613e-08 0.353453 0.554305 0.0699077 0.951123 0.356287L5.32584 3.51347Z' fill='%239CA7B4'/%3E%3C/svg%3E%0A") no-repeat 0px 50%;
}