@charset "UTF-8";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [대중소기업상생협력기금종합관리시스템] 상세 페이지 스타일 정의
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2024.$$.$$.$$:$$
    @ 메모 : 앞에서 _component, _layout으로 커버되지 않는 각 페이지마다 유니크한 부분은 이곳에서 따로 정의한다.
*/
/*

[관리자페이지]--------------------------------------------------------------------------------------------------

*/

/*adm_login*/
.adm-login-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #edf4ff;
}
.adm-login {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 920px;
    height: 540px;
    /* border: 1px solid red; */
    border-radius: 8px;
    background: #fff;
    display: flex;
    overflow: hidden;
}
.adm-login>.img-area,
.adm-login>.form-area {
    width: 50%;
}
.adm-login>.img-area {
    background: url(https://picsum.photos/460/540) no-repeat 0 0;	
    background-size: cover;
}
/* .adm-login>.img-area>img { */
    /* width: 100%; */
/* } */
.adm-login>.form-area {
    /* background: lightyellow; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.adm-login>.form-area>.inner {
    text-align: center;
    width: 262px;
    margin-top: 90px;
}
.adm-login>.form-area .tit {
    margin-bottom: 50px;
}
.adm-login>.form-area .tf:first-of-type {
    margin-bottom: 8px;
}
.adm-login>.form-area .bt {
    height: 46px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}
.adm-login-wrap .adm-login-footer {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

/*메인대시보드*/
.adm-dash {
    width: 100%;
    background: #EFF2F6;
    padding: 0px 40px 40px 40px;
}
.adm-dash .adm-dash-section {
    border: 1px solid red;
    background: #fff;
    margin-bottom: 20px;
}
.adm-dash .adm-dash-section .tit-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.adm-dash .adm-dash-section .tit {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li {
    position: relative;
    border: 1px solid blue;
    height: 120px;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: pink;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li .tit-d2 {
    position: absolute;
    top: 10px;
    left: 10px;
}
.adm-dash .adm-dash-section.adm-dash-section-01 .main-list>li .value {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.adm-dash .adm-dash-section.adm-dash-section-02 ,
.adm-dash .adm-dash-section.adm-dash-section-03 {
    padding: 25px 30px;
    border-radius: 8px;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
    gap: 25px 20px;
    /* padding: 0px 30px 30px 30px;     */
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li {
    position: relative;
    height: 140px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    /* padding: 26px; */
    overflow: hidden;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li.tot ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li.tot {
    border-color: #CADFFA;
    background: #EDF4FF;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li>a ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* background: pink; */
    /* border: 1px solid red; */
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li .tit-d2 ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .tit-d2 {
    position: absolute;
    top: 26px;
    left: 26px;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .tit-d2:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    content: "";
    display: block;
    width:  6px;
    height:  12px;
    background: red;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li.tot .tit-d2 ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li.tot .tit-d2 {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li .value ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .value {
    position: absolute;
    bottom: 26px;
    right: 26px;
    font-size: 22px;
    font-weight: 400;
    color: #333;    
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li.tot .value ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li.tot .value {
    color: #297BF2;
}
.adm-dash .adm-dash-section.adm-dash-section-02 .main-list>li .value>em ,
.adm-dash .adm-dash-section.adm-dash-section-03 .main-list>li .value>em {
    font-weight: 600;
}
.adm-dash .adm-dash-section.adm-dash-section-04 {
    padding: 25px 30px; 
    border-radius: 8px;
}


/*adm_1701*/
.info-bottom {
    margin-top: 10px;
    margin-bottom: 30px;
}
.info-bottom .desc {
    font-size:  15px;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 10px;
}
.info-bottom .who{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

/*adm_4320*/
/*adm_4320*/
.adm_4320_btn_in_out {
    position: absolute;
    top:  calc(50% - 50px);
    transform: translateY(-50%);
    right: -17px;
}
.adm_4320_btn_in_out .btn-in,
.adm_4320_btn_in_out .btn-out {
    position: absolute;
    width: 24px;
    height: 24px;
		border: 1px solid #CCCCCC;
		background: #fff;
		border-radius: 50%;		
    text-indent: -9999px;
}
.adm_4320_btn_in_out .btn-in {
   top: 40px;
}
.adm_4320_btn_in_out .btn-out {
  top: 0;  
}
.adm_4320_btn_in_out  .btn-in:after,
.adm_4320_btn_in_out  .btn-out:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	display: block;
	width: 5px;
	height: 10px;
	background:  no-repeat 0 0;
	background-size: contain;
}
.adm_4320_btn_in_out  .btn-in:after {
	background-image: url(../img/icon/ic_right_10.svg);
}
.adm_4320_btn_in_out  .btn-out:after {
background-image: url(../img/icon/ic_left_10.svg);	
}

/*user table form*/
.tb-search-form .hz-root{
    padding:30px 0;
}
.tb-search-form .bt-big {
    min-width:90px;
}
.tb-search-form .sl {
    min-width: 150px;
}

.tb-search-form  .tf {
    width:384px;
}
/*
.fww-main .tb-search-form + .tb + .pg {
    margin-bottom:70px;
}
*/

/*adm_6210에서 쓰이는 페이크-텍스트에어리어*/
.ta-view {
    /* background: #f8f8f8; */
    background: #fff;
    /* border: 1px solid #ccc; */
    border: 0;
    padding: 15px;
    height: auto;
}

/*pages - 6421*/
.pannel {
	border: 1px solid #ddd;
	border-radius: 4px;
}
.pannel .pannel-top {
	border-bottom: 1px solid #ddd;	
	padding: 15px 17px 15px 20px;
}
.pannel .pannel-bottom {
	padding: 15px;
}


/*adm_7101에서 쓰이는 페이크-텍스트에어리어*/
.ta-view.ta-view-white {
    background: #fff;
    border: 0;
    padding: 15px 0;
    /* height: 200px; */
}
/*adm_7000 (결재선)*/
.approval-gen {
    /* border: 1px dashed blue; */
    display: flex;
}
.approval-gen .box {
    border: 1px solid #e4e4e4;
    padding: 22px 15px 15px 15px;
    margin: 10px 0;
    min-height: 359px;
}
.approval-gen .approval-gen-member {
    flex-grow:  1;
    flex-shrink:  0;
    flex-basis:  0;
    /* background: pink; */
}
.approval-gen .approval-gen-member .ibsheet { /*temp*/
    /* height: 386px;  */
    /* border: 1px dashed red; */
}
.approval-gen .approval-gen-selected {
    flex-grow:  1;
    flex-shrink:  0;
    flex-basis:  0;  
    /* background: skyblue; */
}
.approval-gen .approval-gen-selected .ibsheet { /*temp*/
    /* height: 280px;  */
    /* border: 1px dashed red; */
}
.approval-gen .approval-ctr {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1; 
    width: 95px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
}
.approval-gen .approval-ctr  .bt {
    /* width: 65px; */
}
.info {
    background: #F9FAFC;
    padding: 12px 15px 18px 12px;
}
.info .info-tit {
    position: relative;
    font-size:  15px;
    font-weight:  600;
    color: #333;
    margin-bottom: 10px;
    padding-left: 22px;
}
.info .info-tit:after {
    position: absolute;
    content: "";
    display: block;
    top: 4px;
    left: 0;
    background: url(../img/icon/icon_info_14.svg) no-repeat 0 0;
    width: 14px;
    height:  14px;
}
.info .info-list {
    font-size:  13px;
    font-weight:  400;
    color: #666;
}
.info .info-list>li {
    position: relative;
    padding-left: 10px;
}
.info .info-list>li:after {
    position: absolute;
    content: "·";
    display: block;
    top: 8px;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
}
/*사용자 서브타이틀(어드민도 쓰길래...)*/
.section-title {
    font-weight: 600;
    color:#000;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
}
.section-title::before {
    content: '';
    display: inline-block;
    width:3px;
    height:16px;
    background-color:var(--p1);
    margin-right:10px;
    pointer-events: none;
}

/*adm_7101 (결재선 프로세스)*/
.approval-process {
    display: flex;
    /* column-gap: 70px; */
    column-gap: 67px;
    height: 180px;
}
.approval-process .item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 100%;
    border: 1px solid #ddd;
}
.approval-process .item:after {
    position: absolute;
    top:  50%;
    right: -50px;
    transform: translate(0, -50%);
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/icon/ic_right_arr_30.svg) no-repeat 0 0;
}
.approval-process .item:last-of-type:after {
    display: none;
}
.approval-process .item .role {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background: #f9fafc;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.approval-process .item .do {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.approval-process .item .stamp {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 44px;
    height: 44px;
    border: 1px solid #FF0000;
    color: #FF0000;
    border-radius: 50%;
    margin-bottom: 10px;
}
.approval-process .item .date {
    font-size: 13px;
    color: #666;
    font-weight: 400;
}
.approval-process .item .who {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.approval-process .item.active .who {
    color: var(--p2);
}