@charset "UTF-8";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [대중소기업상생협력기금종합관리시스템] 스타일 변수 저장
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2024.$$.$$.$$:$$
    @ 메모 : -
*/
/*
    사용법
    var(--p1)
*/
:root {
	--p1:  #3E8BFD; /*color-primary1*/
	--p2:  #297BF2; /*color-primary2*/
    --e1: #FF4B4B; /*color-error1*/
}
